body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 219, 1) 1%, rgba(16, 0, 255, 1) 33%, rgba(255, 11, 220, 1)100%);
    height: 100px;
    text-align: center;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #ffffff;

}


.b1 {
    border: solid 4px 4px black;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    color: black;

}

.b2 {
    border: solid 4px 4px black;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;

}

.b3 {
    border: solid 4px 4px black;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;



}

.text_1 {
    color: black;
    text-decoration: none;
}

.text_2 {
    color: black;
    text-decoration: none;
}

.text_3 {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-around;
}

.container1 {
    border: solid;
    border-width: 2px;
    border-right: 2px;

}

p {
    font-family: arial;
    text-align: justify;
    margin: 60px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#nav ul li {
    display: inline-block;
    margin-left: 200px;
    text-decoration: none;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    text-decoration: none;
}
