    
    
body {
    background-image: radial-gradient(circle at 33.38% 40.4%, #ff6de5 0, #ef5ee9 12.5%, #d151ed 25%, #ab45f0 37.5%, #783cf2 50%, #0038f4 62.5%, #0039f6 75%, #003bf7 87.5%, #003df6 100%);
    background-image: var(width);
    height: 2000px;
    text-align: center;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #ffffff;
    
}
.milanescudo{
    height: 200px;
    width: 300px;
}
img{
    height: 150px;
}
body{
    background-color: white;
    color: black;
}
h1,h2{
    background-color: rgb(177, 39, 39);
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    font-family: sans-serif;  
    color: white;
}
p,li {
    font-family: sans-serif;
    text-align: justify;

}
.b1 {
    border: solid 4px 4px rgb(252, 249, 249);
    border-radius: 2px;
    background-color: rgb(8, 0, 0);
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 60


}
    
    
    
.text_1 {
    color: rgb(248, 245, 245);
    text-decoration:none;
}





.container {
    display: flex;
    justify-content: space-around;
}
